.security-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-save {
    width: 100vw;
    text-align: right;
    display: flex;
    justify-content: right;
}

.link-password{
    color: #28004f;
}

.link-password:hover{
    color: #FD4712;
}

.button-delete {
    justify-content: left;
    border-top: 1px solid grey;
}

.security-form-org  {
    width: 30vw;
}

/* MEDIAS QUERIES */

/* XS */
@media (max-width: 575.98px) {
    .security-form, .security-form-org {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

/* SM */
@media (min-width: 540px) and (max-width: 767.98px) {
    .security-form, .security-form-org {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

/* MD  */
@media (min-width: 768px) and (max-width: 991.98px) {
    .security-form, .security-form-org {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

/* LG  */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* XL  */
@media (min-width: 1200px) { 

}