.filter-column{
    background-color: #EFEFEF;
    width: 20vw !important;
    height: 135vh;
    border-radius: 0 0 6px 0;
}

.filter-title{
    color: #FD4712;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.check-box {
    padding-right: 1vw;
}

.check-box:hover{
    font-weight: 500;
    color:#FD4712;
}

.categoryfilter-item{
    width: 100%;
}

@media (max-width: 992px){
    .filter-column{
        display: none;
    }
}