.filter-column{
    background-color: #EFEFEF;
    width: 100% !important;
    border-radius: 0 0 6px 0;
    flex-direction: row;
    border: solid #28004f 5px ;
    border-radius: 10px;
}

.filter-title{
    color: #FD4712;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    
}

.check-box {
    padding-right: 1vw;
    
}

.check-box:hover{
    font-weight: 500;
    color:#FD4712;
    border-radius: 5px ;
    background-color: #28004f;
}


.categoryfilter-item{
    width: 100%;
    text-align: center;
}

.filter-check-box .form-check-input{
    display: none;
    cursor: pointer !important;
}

.filter-check-box label {
    width: 75%;
}

@media (max-width: 992px){
    
}