.footer-text{   
    text-align: center;
}

.footer-link{
    color:#ffffff;
    text-decoration: none;
    font-size: 12px !important;
}

.footer-link:hover{
    color:#ffffff;
    opacity: 0.75;
    cursor: pointer;
}