.payment-form {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.payment-form input, .payment-form select {
    font-size: .8rem;
    background-color: #EFEFEF;
    height: 45px;
}

.validation-card{
    background-color: #28004f;
    border: 2px solid #fd4712;
    color: #EFEFEF;
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
}

.box-disabled{
    background-color: #00000026 !important;
    color: white !important;
}

.payment-span {
    display: flex;
    justify-content: space-between;
}
