.payment-form {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.payment-form input, .payment-form select {
    font-size: .8rem;
    background-color: #EFEFEF;
    height: 45px;
}

.validation-card{
    background-color: #28004f;
    color: #FD4712;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.box-disabled{
    background-color: grey !important;
    color: white !important;
}

.payment-span {
    display: flex;
    justify-content: space-between;
}
