.registration {
    background-color: #28004F;
    color: white;
}

.title-registration {
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

.box-input{
    flex-direction: column;
}

.row-input{
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap !important;
}

.form-group{
    width: 100%;
}

.btn-submit{
    justify-content: end !important;
}

.btn-cancel{
    justify-content: start !important;
}

.link-custom{
    color:white;
    text-decoration: none;
}

.link-custom:hover{
    color:#FD4712 !important;
}

.layout-btn{
    width: 50%;
}

@media (max-width: 810px){
    .row-input{
        flex-wrap: wrap !important;
    }

    .box-input{
        width: 100% !important;
    }

    .btn-submit{
        justify-content: center !important;
        width: 100% !important;
    }

    .btn-cancel{
        justify-content: center !important;
        width: 100% !important;
    }
}

