.registration-container {
    background-color: #28004F;
    display: flex;
    justify-content: space-between;
}

.registration-banner {
    width: 100%;
    background-image: url(/src/assets/images/banners/banner-register.jpg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.registration {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.row-input{
    justify-content: space-around;
    flex-wrap: nowrap !important;
}

.box-input{
    display: flex;
    flex-direction: column;
}

.box-input input, .box-input select {
    padding-left: 1.2vw;
}

.link-custom{
    color:white;
    text-decoration: none;
}

.link-custom:hover{
    color:#FD4712 !important;
}

.btn-cancel  {
    display: flex;
    justify-content: left;
}

.btn-submit  {
    display: flex;
    justify-content: right;
}

/* MEDIAS QUERIES  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .registration-banner {
        display: none;
    }

    .row-input{
        justify-content: center;
        flex-wrap: wrap !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576) and (max-width: 767.98px) {
    .registration-banner {
        display: none;
    }

    .row-input{
        justify-content: center;
        flex-wrap: wrap !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 994.98px) { 
    .registration-banner {
        display: none;
    }

    .row-input{
        justify-content: center;
        flex-wrap: wrap !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 995px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}