.background{
    background-color: #28004f;
}

.item{
    border: none !important;
    background-color: transparent !important;
    display: flex;
}

.box-card{
    margin: 20px ;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
