.btn-mvp{
    width: auto !important;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    color:#EFEFEF;
}

.btn-custom-default {
    height: auto !important;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: .9rem;
    color: #EFEFEF;
    background-color: #FD4712;
    border-color: #FD4712;
    height: auto;
}

.btn-custom-default:hover {
    box-shadow: none !important;  
    transition: 0.5s;
    background-color: transparent !important; 
    color: #FD4712 !important;
    border-color: #FD4712 !important;
    border-width: 2px;
}
.btn-primario-mvp, .btn-secundario-mvp {
    border-color: #FD4712;
    background-color: #FD4712;
}