.btn-mvp{
    height: 6vh;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: .9rem;
    border-radius: 3px;
    text-decoration: none;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-mvp:hover {
    box-shadow: none !important;
    transition: 0.5s;
}

.button-navigation {
    color:black;
    text-decoration: none;
    margin: 0;
    border: none;
    text-transform: unset;
    font-weight: unset;
    font-size: unset;
    background-color: transparent;
}

/* BOTÃO LARANJA OUTLINE */
.btn-mvp-orange-clean {
    border-color: #FD4712;
    background-color: #FD4712;
    color:#EFEFEF;
}

.btn-mvp-orange-clean:hover {
    background-color: transparent !important; 
    color: #FD4712 !important;
    border-color: #FD4712 !important;
}

/* BOTÃO ROXO OUTLINE */
.btn-mvp-purple-clean {
    border-color: #28004f;
    background-color: #28004f;
    color: #EFEFEF !important; 
}

.btn-mvp-purple-clean:hover {
    background-color: transparent !important; 
    color: #28004f !important;
    border-color: #28004f !important;
}


/* BOTÃO LARANJA SOLID */
.btn-mvp-orange-solid {
    border-color: #FD4712;
    background-color: #FD4712;
    color:#EFEFEF;
}

.btn-mvp-orange-solid:hover {
    color: #EFEFEF !important;
    border-color: #EFEFEF !important;
}

/* BOTÃO ROXO SOLID */
.btn-mvp-purple-solid {
    border-color: #28004f;
    background-color: #28004f;
    color: #EFEFEF !important; 
}

.btn-mvp-purple-solid:hover {
    color: #EFEFEF !important;
    border-color: #EFEFEF !important;
}