.discount-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.discount-coupon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.discount {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.discount-coupon-title {
    font-size: 1.1rem;
}

.coupon-value {
    color: rgb(6, 107, 6);
    font-weight: 500;
}