.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-h1 {
    font-size: 1.8rem !important;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.contact-infos {
    text-align: left;
}

.contact-icon {
    width: 4vw;
    height: auto;
}

.contact-link {
    text-decoration: none;
    font-weight: 500;
    color: #181818;
}

.contact-link:hover {
    color: #fd4712;
}

/* MEDIAS QUERIES */

/* XS */
@media (max-width: 575.98px) { 
    .contact-h1 {
        font-size: 1.4rem !important;
    }

    .contact-infos p {
        font-size: 1.1rem;
    }

    .contact-infos img {
        width: 9vw;
    }

    .contact-info-description {
        display: none;
    }
    
}

/* SM */
@media (min-width: 576px) and (max-width: 767.98px) {
    .contact-infos img {
        width: 7vw;
    }

}

/* MD  */
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* LG  */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* XL  */
@media (min-width: 1200px) { 

}