.home {
    display: flex;
    flex-direction: column;
    background-color: #28004f !important;
    padding: 0 !important;
    justify-content: center !important;
}

.title-banner, .title-carousel {
    color: #EFEFEF !important;
}

.row-banner{
    max-width: 100%;
    margin: 0 !important;
}

/* MEDIAS QUERIES */

/* XS */
@media (max-width: 575.98px) {

}

/* SM */
@media (min-width: 530px) and (max-width: 767.98px) {

}

/* MD  */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* LG  */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* XL  */
@media (min-width: 1200px) {

}