.links-login {
    text-decoration: none !important;
    color: black !important;
    font-size: 14px !important;
    background-color: transparent !important;
    border: none !important;
}

.validation{
    color:#28004f;
    margin-bottom: 5px;
    font-weight: bold;
}

.link-menu{
    text-transform: uppercase;
    padding: 0;
}

.modal-layout{
    max-width: 500px !important;
}

.footer-link{
    color:#ffffff;
    text-decoration: none;
    font-size: 12px !important;
    font-weight: normal;
}

.footer-link:hover{
    color:#ffffff;
    opacity: 0.75;
    cursor: pointer;
}

.links-login:hover, .links-login:focus-within {
    transition: 0.5s !important;
    color: #FD4712 !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.links-login:active:focus{
    box-shadow: none;
}

.no-account {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 14px;
    text-align: right;
}

.login-title {
    color:#FD4712;
    font-weight: bold;
}

.layout-button{
    width: 100%;
}

.link-header button:hover {
    color:#FD4712;
}

.seus-dados-sidebar {
    color: #EFEFEF !important;
}