.links-login {
    text-decoration: none;
    color: black;
    font-size: 14px;
    background-color: transparent;
    border: none;
}

.links-login:hover, .links-login:focus-within {
    transition: 0.5s;
    color: #FD4712;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.links-login:active:focus{
    box-shadow: none;
}

.no-account {
    font-size: 14px;
<
    text-align: left;
}

/* Estilos dos botões principais */
.btn-primario-mvp {
    border-color: #FD4712;
    background-color: #FD4712;
}

/* Estilo dos botões secundários */
.btn-secundario-mvp {
    background-color: rgba(1, 1, 1, 0);
    border-color: #FD4712;
}

.link-steam {
    color: white;
    text-decoration: none;
}

.link-steam:hover {
    color: white;
}

.login-title {
    color:#FD4712;
    font-weight: bold;
}

.layout-button{
    width: 100%;
}