@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box !important;
    font-size: .9rem;
    font-family: 'Saira', sans-serif;
}

textarea, input, select {
    box-shadow: none;
    border: 0 none !important;
    outline: 0 !important;
    border-radius: 3px;
    height: 1.8rem;

}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
} 

h1 {
    font-size: 1.3rem !important;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(12, 12, 12);
    text-align: center;
}

h2 {
    font-size: 1rem !important;
    font-weight: 500;
    color: rgb(12, 12, 12);
}

h3 {
    font-size: .9rem;
    font-weight: 500;
    color: rgb(12, 12, 12);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-title-mvp {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    color: #28004f;
    text-align: center;
    
}

.card-caption-mvp {
    text-transform: uppercase;
    font-size: .9rem !important;
    font-weight: 400;
    color: #28004f;
    justify-content: space-around;
    text-align: center;
    flex-direction: row !important;
}

a {
    text-decoration: none !important;

}

input, select {
    height: 35px !important;
    font-size: 15px !important;
}


.swal-modal {
    background-color: #EFEFEF;
}

.swal-title {
    color: #28004f;
    font-weight: 500;
    font-size: 1.1rem !important;
    font-family: 'Saira', sans-serif !important;
    text-transform: uppercase;
}

.swal-button {
    height: 6vh;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: .9rem;
    border-radius: 3px;
    text-decoration: none;
    border: 2px solid #28004f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28004f;
    color: #EFEFEF !important; 
}

.swal-button:hover {
    background-color: transparent !important; 
    color: #28004f !important;
    border-color: #28004f !important;
}