.header-qty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD4712;
    width: 17px;
    height: 17px;
    color: #000;
    position:absolute;
    margin-left: 80px;
    margin-top: -20px;
    border-radius: 100%;
}

.header-qty-cart:hover{
    color: black !important;
    font-weight: 520;
}