.footer{
    padding-top: 10px;
    background-color: #181818;
    color: #ffffff;
    display: flex;
}

.footer-lg{
    display:none;
    width: 100%;
}

.container-footer{
    margin: 0;
    display: flex;
    width: 100%;
}

.div-lg{
    display:none;
}

.coluna-footer{
    display: flex;
    width: 100%;
}

.linha-hr{
    display: none;
}

.icon-footer{
    height:30px;
    width:30px;
}

.footer-image{
    text-align: center;
}

@media screen and (min-width:992px){
    .footer-lg{
        display:flex;
        width: 100%;
    }

    .linha-hr{
        display: block;
        margin: 10px 10px;
    }

    .div-lg{
        display: block;
    }
}