.footer{
    padding-top: 10px;
    background-color: #181818;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.footer-lg{
    display:none;
    width: 100%;
}

.container-footer{
    margin: 0;
    display: flex;
    width: 100%;
}

.div-lg{
    display:none;
}

.footer-links-container {
    justify-content: space-between;
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.linha-hr{
    display: none;
}

.footer-login-modal{
    display: block;
}

.bandeiras-pagamento-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bandeiras-pagamento {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.icon-footer{
    width: auto;
    height:35px;
}

.dados-empresa {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.dados-empresa p {
    text-align: center;
    font-size: 4px !important;
}


@media screen and (min-width:992px){
    .footer-lg{
        display:flex;
        width: 100%;
    }

    .linha-hr{
        display: block;
        margin: 10px 10px;
    }

    .div-lg{
        display: block;
    }
}