.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
    width: 100%;
}

.lupa{
    background-color: white;
    border-radius: 0px 3px 3px 0px;
}

.btn-mvp{
    height: auto !important;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    background-color: #FD4712;
    border-color: #FD4712;
    width: 40%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FD4712;
    border-radius: 3px;
}

.btn-mvp a {
    color: #EFEFEF !important;
}

.btn-mvp:hover, .btn-mvp a:hover, .btn-mvp:focus, .btn-mvp a:focus-within {
    box-shadow: none !important;  
    transition: 0.5s;
    background-color: transparent !important; 
    color: #FD4712 !important;
    border-color: #FD4712 !important;
}

.btn-top-header{
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-content: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.barra-pesquisa {
    border-radius: 3px 0px 0px 3px;
    border: none;
}

.link-header{
    color:black;
    text-decoration: none;
}

.link-header:hover{
    color:#FD4712 !important;
}

.nav-main{
    background-color: #EFEFEF !important;
}

/* MEDIAS QUERIES  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .top-header {
        padding: 2vh 0;
        height: auto;
    }

    .logo img {
        width: 75px;
        height: 66px;
    }

    .category{
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .top-header {
        padding: 2vh 0;
        height: auto;
    }

    .logo img {
        width: 75px;
        height: 66px;
    }

    .category{
        display: none;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 994.98px) { 
    .btn-mvp {
        width: auto;
    }

    .category{
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}




