.top-header {
    background-color: #181818;
    width: 100%;
    margin: 0;
}

.welcome {
    color: #FD4712;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.input-box{
    height: 2.5rem;
    width: 100%;
}

.items-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category{
    display: block;
}

.lupa{
    background-color: white;
    border-radius: 0px 3px 3px 0px;
    height: 100%;
}

.logo {
    display: flex;
    align-content: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.search-bar {
    border-radius: 3px 0px 0px 3px;
    border: none;
    height: 100%;
}

.link-header{
    color:black;
    text-decoration: none;
    margin: 0;
}

.link-header:hover{
    color:#FD4712 !important;
}

.nav-main{
    background-color: #EFEFEF !important;
}

/* MEDIAS QUERIES  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .top-header {
        padding: 2vh 0;
        height: auto;
    }

    .logo img {
        width: 75px;
        height: 66px;
    }

    .category{
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .top-header {
        padding: 2vh 0;
        height: auto;
    }

    .logo img {
        width: 75px;
        height: 66px;
    }

    .category{
        display: none;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 994.98px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1050px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}



