.top-header {
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
}

.logo {
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo img {
    height: 13vh;
}

.input-box{
    display: flex;
    justify-content: center;
    height: 7vh;
}

.input-box form{
    display: flex;
    width: 100%;
}

.search-bar {
    border-radius: 3px 0px 0px 3px;
    border: none;
    height: 100%;
}

.lupa {
    border: 1px solid #fd49123d;
    border-radius: 0 3px 3px 0;
    width: 4vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lupa:hover {
    box-shadow: inset 0px 0px 50px 50px rgba(40,0,79,0.75);
    border: 1px solid white;
    cursor: pointer;
}

.lupa img{
    height: 5vh;
}

.button-register {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.button-login {
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.welcome {
    color: #FD4712;
    text-align: center;
}


/* --------------------------------------------------- */

.nav-main{
    background-color: #EFEFEF !important;
    height: 9vh;
}

.items-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.items-nav img {
    margin-right: 0.5vw;
    height: 5vh;
    width: auto;
}

.items-nav-all{
    font-size: 18px;
    font-weight: 700;
}

.link-header:hover{
    color:#FD4712 !important;
}

.favor-cart-header {
    display: flex;
    justify-content: space-around;
}


/* MEDIAS QUERIES  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .top-header {
        padding: 2vh 0;
        height: auto;
    }

    .logo img {
        width: 75px;
        height: 66px;
    }

    .category{
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .top-header {
        padding: 2vh 0;
        height: auto;
    }

    .logo img {
        width: 75px;
        height: 66px;
    }

    .category{
        display: none;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 994.98px) { 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1050px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}