.box-insert::placeholder {
    color:black;
}

.box-insert {
    background-color: #EFEFEF !important;
    opacity: 0.8 !important;
    height: 60px !important;
}

.box-insert:focus {
    box-shadow: none !important;
    border-color: black !important;
    background-color: #EFEFEF !important;
}
