.box-insert::placeholder {
    color:black;
}

.box-insert {
    background-color: #EFEFEF;
    opacity: 0.8;
}

.box-insert:focus {
    box-shadow: none;
    border-color: black;
    background-color: #EFEFEF;
}
