.pix-img{
    width: 50% !important;
}
.QR-Code{
    width: 150px !important;
    height: 150px !important;
}
.container-pix{
    background-color: white;
    border-radius: 8px;
}
.box-key{
    text-align: center;
    color: black
}