.success-container {
    background-color: #28004f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.success {
    background-color: #c4c4c480;
    opacity: 0.75;
    border-radius: 6px;
}

.sucess-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.success-button-dashboard{
    display: flex;
    margin: 40px 0;
    justify-content: center;
}

.success-button-home{
    display: flex;
    margin: 40px 0;
    justify-content: center;
}

.sucessImg {
    display: flex;
    justify-content: center;
}

.sucessImg img {
    width: 7vw;
    padding: 0;
}

.sucess-text{
    color: #ffffff;
    text-align: center;
}

.sucess-text span {
    font-size: 1.2rem;
    font-weight: 500;
    color: #181818;
}

@media screen and (min-width:768px){
    .success-button-dashboard{
        justify-content: flex-start;
    }
    
    .success-button-home{
        justify-content: flex-end;
    }
}