.checkout {
    background-color: #28004f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #EFEFEF;
}

.checkout-title {
    color: #EFEFEF;
}

.checkout-containers {
    background-color: #766289;
    border-radius: 8px;
}

.checkout-price{ 
    text-align: right;
    height: 5.5vh;
}

.checkout-price-title {
    text-align: left;
    height: 5.5vh;

}

.checkout-price-sum {
    text-transform: uppercase;
    font-weight: 500;
}

.checkout-term {
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.checkout-checkbox {
    text-align: left;
}