.respons {
    display: none;
}

.card-link {
    background-color: #766289 !important;
    color: #EFEFEF;
    border-radius: 8px;
    box-shadow: 5px 4px 1px #EFEFEF;
    text-decoration: none !important;
}

.card-link:hover {
    color: #EFEFEF;
    box-shadow: 5px 4px 1px #fd4712;
    color: #28004f;
}

.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.card-hover {
    position: absolute;
    border-radius: 5px;
    opacity: 0.0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-hover:hover {
    display: flex;
    opacity: 1;
    box-shadow: inset 0px 0px 300px 200px rgba(239,239,239,0.4);
}

.card-icon {
    width: 45px;
    z-index: 2;
    opacity: 1 !important;
}

.card-icons a {
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.card-image {
    display: flex;
    justify-content: right;
    align-items: center;
}

.card-line {
    background-color: #28004f;
    width: 100%;
    opacity: 1 !important;
    border: 1.3px solid #28004f !important;
}

.card-price-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.card-description{
    width: 100%;
    font-weight: 500;
    font-size: .7rem;
}

.card-price {
    width: 100%;
    font-weight: 300;
    font-size: .6rem;
    text-decoration: line-through;
}

.card-price-final {
    width: 100%;
    font-weight: 600;
    font-size: .8rem;
}


/* MEDIAS QUERIES */

/* XS */
@media (max-width: 575.98px) {
    .card-product, .card-hover {
        width: 129px !important;
        height: 227px !important;
    }

    .card-link {
        width: 130px !important;
        height: 228px !important;
    }

    .card-description{
        font-weight: 300;
        font-size: .9rem;
    }
    
    .card-price {
        font-weight: 0;
        font-size: .7rem;
    }
    
    .card-price-final {
        font-weight: 400;
        font-size: .9rem;
    }
}

/* SM */
@media (min-width: 540px) and (max-width: 767.98px) {
    .card-product, .card-hover {
        width: 120px !important;
        height: 200px !important;
    }

    .card-link {
        width: 121px !important;
        height: 201px !important;
    }
}

/* MD  */
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-product, .card-hover {
        width: 120px !important;
        height: 200px !important;
    }

    .card-link {
        width: 121px !important;
        height: 201px !important;
    }
}

/* LG  */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-product, .card-hover {
        width: 169px !important;
        height: 277px !important;
    }

    .card-link {
        width: 170px !important;
        height: 278px !important;
    }

}

/* XL  */
@media (min-width: 1200px) {
    .card-product, .card-hover {
        width: 169px !important;
        height: 277px !important;
    }

    .card-link {
        width: 170px !important;
        height: 278px !important;
    }

    .card-description{
        font-weight: 300;
        font-size: .9rem;
    }
    
    .card-price {
        font-weight: 0;
        font-size: .7rem;
    }
    
    .card-price-final {
        font-weight: 400;
        font-size: .9rem;
    }
}