.card-link {
    background-color: #766289 !important;
    color: #EFEFEF;
    border-radius: 8px;
    box-shadow: 5px 4px 1px #EFEFEF;
    text-decoration: none !important;
}

.card-link:hover {
    box-shadow: 5px 4px 1px #fd4712;
    color: #28004f;
}

.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.card-hover {
    position: absolute;
    border-radius: 8px;
    opacity: 0.0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-hover:hover {
    display: flex;
    opacity: 1;
    box-shadow: inset 0px 0px 300px 200px rgba(239,239,239,0.4);
}

.card-icon {
    width: 40px;
}

.card-icons a {
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.card-image {
    display: flex;
}

.card-image img {
    width: 350px;
}

.card-line {
    background-color: #28004f;
    width: 100%;
    opacity: 1 !important;
    border: 1.3px solid #28004f !important;
}

.card-price-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.card-description{
    font-weight: 400;
    font-size: .6rem;
}

.card-price {
    color: #efefef93;
    font-weight: 200;
    font-size: .5rem;
    text-decoration: line-through;
}

.card-price-final {
    font-weight: 500;
    font-size: .8rem;
}


/* MEDIAS QUERIES */

/* XS */
@media (max-width: 575.98px) {

}

/* SM */
@media (min-width: 540px) and (max-width: 767.98px) {

}

/* MD  */
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-link, .card-product, .card-hover {
        width: 150px !important;
        height: 258px !important;
    }

    .card-description{
        font-weight: 300;
        font-size: 14.4px;
    }
    
    .card-price {
        font-size: 12.8px;
    }
    
    .card-price-final {
        font-weight: 400;
        font-size: 17.6px;
    }
}

/* LG  */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-link, .card-product, .card-hover {
        width: 160px !important;
        height: 258px !important;
    }

    .card-description{
        font-weight: 300;
        font-size: 12.4px;
    }
    
    .card-price {
        font-size: 10.8px;
    }
    
    .card-price-final {
        font-weight: 400;
        font-size: 15.6px;
    }
}

/* XL  */
@media (min-width: 1200px) {
    .card-link, .card-product, .card-hover {
        width: 150px !important;
        height: 258px !important;
    }

    .card-description{
        font-weight: 300;
        font-size: 14.4px;
    }
    
    .card-price {
        font-size: 12.8px;
    }
    
    .card-price-final {
        font-weight: 400;
        font-size: 17.6px;
    }
}