.card-link {
    height: 300px;
    width: 170px;
    background-color: #766289 !important;
    color: #EFEFEF;
    border-radius: 8px;
    box-shadow: 5px 4px 0px #EFEFEF;
    text-decoration: none !important;
}

.card-link:hover {
    box-shadow: 5px 4px .2px #fd4712;
    font-weight: 100;
}

.card-link:hover .card-line {
    background-color: transparent;
    border: 1.3px solid transparent !important;
}

.card-hover {
    height: 100%;
    position: absolute;
    border-radius: 3px;
    opacity: 0.0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-link:hover .card-hover {
    opacity: 1;
    display: flex;
    box-shadow: inset 0px 0px 300px 200px rgba(239, 239, 239, 0.219);
    cursor: pointer;
}

.card-icon {
    width: 40px;
}

.cart-icon-card-container {
    width: 100%;
    display: flex;
    justify-content: right;
}

.cart-icon-card-container a {
    width: 27%;
    background-color: #fd4712;
    border: 2px solid transparent;
    transition: 0.5s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.cart-icon-card:hover {
    border: 2px solid #EFEFEF;
}

.card-product {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    height: 140px;
}

.card-line {
    background-color: #28004f;
    width: 105%;
    opacity: 1 !important;
    border: 1.3px solid #28004f !important;
}

.card-price-container {
    height: 45px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.card-description{
    height: 45px;
    overflow-y: hidden;
    text-transform: capitalize !important;
    font-weight: 400;
    font-size: 15px;
}

.card-price {
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    text-decoration: line-through 2.5px #28004f;
}

.card-price-final {
    height: 5px;
    font-weight: 600;
    font-size: 18px;
}

/* .btn-ver-mais{
    width: 10px !important;
} */

/* MEDIAS QUERIES */

/* XS */
@media (max-width: 575.98px) {
    .card-link {
        width: 160px !important;
        height: 270px !important;
    }

    .card-product {
        height: 250px;
    }

    .cart-icon-card-container a {
        width: 22%;
        height: auto;
    }

    .card-icon {
        width: 31px;
    }

    .card-image img {
        height: 100px;
    }
}

/* SM */
@media (min-width: 540px){
    .card-link {
        width: 160px !important;
        height: 270px !important;
    }

    .card-product {
        height: 250px;
    }

    .cart-icon-card-container a {
        width: 22%;
        height: auto;
    }

    .card-icon {
        width: 31px;
    }

    /* .btn-ver-mais{
        width: 120px !important;
    } */

    .card-image img {
        height: 100px;
    }
}

/* MD  */
@media (min-width: 768px){
    .card-link {
        width: 160px !important;
        height: 270px !important;
    }

    .card-product {
        height: 250px;
    }

    .cart-icon-card-container a {
        width: 22%;
        height: auto;
    }

    .card-icon {
        width: 31px;
    }

    /* .btn-ver-mais {
        width: 110px !important;
    } */

    .card-image img {
        height: 100px;
    }
}

/* LG  */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* XL  */
@media (min-width: 1200px) {

}