.container-reset-password{
    background-color: #28004f;
}

.formlabel-resetpassword{
    margin: 20px 0 10px;
    color: #ffffff ;
}

.resetpassword-box-input{
    display: flex;
    flex-direction: column;
}