.container-reset-password{
    background-color: #28004f;
}

.formlabel-resetpassword{
    margin: 20px 0 10px;
    color: #ffffff ;
}

.resetpassword-box-input{
    display: flex;
    flex-direction: column;
}
.btn-reset{
    padding: 10px !important;
    margin-bottom:10px !important;
    justify-content: center !important;
    width:150px !important;
}

/* MEDIAS QUERIES */

/* EXTRA SMALL DEVICES */
@media (max-width: 575.98px){
    .container-reset-password{
        flex-direction: column;
        align-items: center;
    }
   
}

/* SM */
@media (min-width: 540px) and (max-width: 767.98px) {
    .container-reset-password {
        flex-direction: column;
        align-items: center;
    }
}

/* MD  */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container-reset-password{
        flex-direction: column;
        align-items: center;
    }
}

/* LG  */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}

/* XL  */
@media (min-width: 1200px) { 

}
