.form-endereco-cobranca {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adress-payment-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-disabled:disabled {
    background-color: #00000026 !important;
    color: #EFEFEF !important;
}