.product-image{
    width: 250px;
    height:250px;
}

@media screen and (min-width:365px){
    .product-image{
        width: 300px;
        height:300px;
    }
}

@media screen and (min-width:992px){
    .product-image{
        width: 350px;
        height:350px;
    }

    .product-image{
        margin: 20px 10px 40px;
    }
}

@media screen and (min-width:1200px){
    .product-image{
        width: 400px;
        height:400px;
    }

    .product-image{
        margin: 20px 10px 40px;
    }
}