.background-page{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    color: #EFEFEF;
}

.text-error{
    color: #EFEFEF !important;
}

.img-error{
    margin: 20px 0;
}

