.link-error{
    text-decoration: none;
}

.text-error{
    background-color: black;
    color: white !important;
}

.text-error:hover{
    color: #FD4712 !important;
}

.background-page{
    background-color: black;
}

.title{
    color: #FD4712;
}
